body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #191970, #4682B4); /* Цвет фона, аналогичный цвету в квадрате */
    color: #fff;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
    padding: 50px 0;
    margin-bottom: 30px;
    color: #fff;
}

.hero h1 {
    font-size: 3em;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.content {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.tickets {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tickets img {
    max-width: 45%;
    border: 5px solid #fff;
    border-radius: 10px;
}

audio {
    margin-top: 20px;
    width: 100%;
}
